.male-faces {
    position: relative;
    overflow: hidden;
    /* Empêche le débordement */
    width: 100%;
    height: 100vh;
    background-color: #0f0f0f;
}

.portrait-rapper-content {
    display: flex;
    flex-direction: row;
    width: max-content;
    /* S'assure que la largeur s'adapte au contenu */
    height: 100%;
    gap:10rem;
    /* Espacement entre les portraits */
    align-items: center;
}

.portrait-rapper {
    flex: 0 0 auto;
    /* Empêche les éléments de se réduire */
    width: 30rem;
    /* Largeur fixe pour chaque portrait */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portrait-face {
    width: 15rem;
    height: auto;
    border-radius: 50%;
    /* Ajoute un effet circulaire aux images */
}

.portrait-text {
    margin-top: 1rem;
    color: white;
    font-family: "obviously-wide", sans-serif;
}

.portrait-name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.portrait-description {
    font-size: 1rem;
    line-height: 1.5;
}