/* section-10s.css */

/* Section 10s – Timeline */
.section-10s {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
  overflow: hidden;
  margin-bottom: 10%;
}

.bg-nicki {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.4;
}

.section-10s-left {
  width: 45%;
  position: relative;
  left: -1%;
  height: 85%;
  z-index: 2;
}

.section-10s-left::before {
  content: '';
  position: absolute;
  left: 1.25rem;
  top: 0;
  width: 0.625rem;
  height: 100%;
  background-color: #444;
  border-radius: 0.625rem;
}

.section-10s-left::after {
  content: '';
  position: absolute;
  left: 0.625rem;
  top: 61%;
  width: 1.875rem;
  height: 0.375rem;
  background-color: #ccc;
  border-radius: 0.3125rem;
}

.decade-10s {
  font-size: 3rem;
  font-family: "obviously-wide", sans-serif;
  margin-left: 3.75rem;
  margin-top: 50%;
  margin-bottom: 1.875rem;
}

.title-overTime-container-10s {
  margin-top: 3rem;
}

.title-overTime-10s {
  font-size: 3rem;
  font-family: "obviously-wide", sans-serif;
  text-align: right;
  margin-right: 23%;
  margin-bottom: 0.8rem;
}

.trait-overTime-10s {
  width: 21.875rem;
  margin-top: -1.875rem;
  height: 1.25rem;
  margin-left: 24%;
}

.circle-wrapper {
  position: relative;
  display: inline-block;
  max-width: 56.25rem;
  width: 100%;
  right: 40%;
  margin-top: -3rem;
  z-index: 2;
}

.cercle-10s {
  width: 130%;
  transform: translateY(2rem) scaleY(0.7) rotate(10deg);
}

.text-10s {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-family: "obviously-wide", sans-serif;
  font-size: 1rem;
  color: white;
  width: 97%;
  max-width: 100%;
  line-height: 1.6;
  text-align: justify;
  z-index: 2;
}

.fleche-10s {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 30%;
  transform: rotate(10deg);
  z-index: 3;
}

.section-10s::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}