/*COMPTE A REBOURS*/
.section-women-rap {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #0f0f0f;
    overflow: hidden;
  }
  
  
  .women-rap-content-5 {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .women-rap-title-wrapper {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 30%;
    z-index: 2;
    margin-top: 30rem;
  }
  
  .women-rap-title {
    font-size: 2.5rem;
    font-family: "obviously-wide", sans-serif;
    color: white;
    position: relative;
    z-index: 2;
  }
  
  .women-rap-circle {
    position: absolute;
    top: -4rem;
    left: -3rem;
    width: 110%;
    transform: scale(1.2);
    transform: rotate(15deg);
    pointer-events: none;
    z-index: 1;
  }


  /*Pour 4 3 2 1*/

  .women-rap-content {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .women-rap-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14rem;
    font-weight: bold;
    color: white;
    font-family: "obviously-wide", sans-serif;
    z-index: 2;
    text-align: center;
  }



  /*RAPPEUSES*/

  .section-women-rap-artist {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #0f0f0f;
    overflow: hidden;
  }
  
  
  .faded-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14rem;
    font-weight: bold;
    color: white;
    opacity: 0.2;
    font-family: "obviously-wide", sans-serif;
    z-index: 1;
    pointer-events: none;
  }
  
  .women-rap-artist-content {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem;
  }
  
  .text-block {
    width: 45%;
    color: white;
  }
  
  .artist-name {
    font-family: "obviously-wide", sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .artist-description {
    font-family: "obviously-wide", sans-serif;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .image-block {
    position: relative;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ice-spice-img {
    max-height: 70vh;
    object-fit: contain;
    z-index: 2;
    margin-right: 10rem;
  }
  
  .fleche-ice {
    width: 38%;;
    margin-top: -6rem;
   margin-right: 50rem;
    transform: rotate(30deg);
  }

  .stats {
    display: flex;
    gap: 2.5rem;
    margin-top: 2rem;
    align-items: center;
  }
  
  .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15rem;
  }
  
  .spotify-icon {
    width: 75%;
    height: auto;
    margin-bottom: 0.2rem;
    margin-top: 1rem;
  }
  
  .stream-number {
    font-size: 2rem;
    font-family: "obviously-wide", sans-serif;
    color: white;
    margin-top: 0.8rem;
  }



  .doja-cat-img {
    max-height: 70vh;
   margin-top: -15rem;
    z-index: 2;
    margin-right: 10rem;
  }

  .fleche-doja {
    width: 50%;;
    margin-top: -34rem;
   margin-right: 50rem;
    transform: rotate(200deg);
  }


  .megan-img {
    max-height: 70vh;
   margin-top: -8rem;
   margin-right: 16rem;
    z-index: 2;
  }

  .fleche-megan {
    width: 40%;;
    margin-top: -6rem;
   margin-right: 42rem;
    transform: rotate(20deg);
  }

  .sexyy-red-img {
    max-height: 70vh;
   margin-top: -16rem;
   margin-right: 22%;
    z-index: 2;
    margin-right: 15rem;
  }

  .fleche-sexyy-red {
    width: 50%;;
    margin-top: -34rem;
   margin-right: 50rem;
    transform: rotate(190deg);
  }


  .nicki-minaj-img {
    max-height: 70vh;
   margin-top: -16rem;
   margin-right: 16rem;
    z-index: 2;
  }

  .fleche-nicki-minaj {
    width: 45%;
    margin-top: -34rem;
   margin-right: 50rem;
    transform: rotate(155deg) scaleX(-1);
  }


    .billboard-explication{
      position: relative;
      width: 70%;
      padding: 70vh 14%;
      background: transparent;
      text-align: center;
      font-size: 2rem;
      font-family: "Nothing You Could Do", cursive;
      color: white;
  
  
    }

    

