/* Général */
body {
  background-color: #0f0f0f;
  color: white;
  font-family: "obviously-wide", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

/* Conteneur principal (Fixé à l'écran) */
.container-whatIsRap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}


/* Effet de fade au scroll */
.scrolled .container-whatIsRap {
  opacity: 0.2;
}

.scrolled .parallax-whatIsRap {
  opacity: 1;
}

/* Style du titre */
.title {
  font-size: 3.5rem;
  font-family: "Lacquer", system-ui;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 100px;
  text-align: center;
}

/* Conteneur de la question */
.question {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

/* Texte "What is rap?" */
.question h2 {
  font-size: 3rem;
  font-family: "obviously-wide", sans-serif;
  text-transform: lowercase;
  position: relative;
  z-index: 2;
}

/* Cercle PNG */
.cercle {
  position: absolute;
  width: 550px;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

/* Images */
.images {
  position: absolute;
  bottom: 10%;
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.images img {
  max-width: 450px;
  object-fit: cover;
  filter: contrast(1.1);
  border-radius: 5px;
}

/* Positionnement spécifique */
.tupac-dechire {
  position: absolute;
  top: -100px;
  right: 0;
  transform: rotate(5deg);
}

.snoop-dechire {
  position: absolute;
  right: 300px;
  top: -100px;
  transform: rotate(-5deg);
}

.kendrick-dechire {
  position: absolute;
  bottom: 0;
  right: 160px;
  transform: rotate(3deg);
}

/* Texte qui apparaît au scroll */
.parallax-whatIsRap {
  position: relative;
  width: 70%;
  padding: 150vh 10%;
  background: transparent;
  text-align: center;
  font-size: 2rem;
  font-family: "Nothing You Could Do", cursive;
  color: white;
  opacity: 100;
  transition: opacity 1s ease-in-out;
}


